@import "../../../styles.scss";

.back {
  @include flex-start;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: $color-dark-blue;
  cursor: pointer;

  &:hover {
    transition: 0.3s;
    color: $color-semi-dark-blue;

    .back__icon {
      background-color: $color-semi-dark-blue;
    }
  }

  &__icon {
    @include flex-center-row;
    mask-image: url("../../../assets/icons/arrow-down.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $color-dark-blue;
    width: 12px;
    height: 16px;
    display: inline-block;
    transform: rotate(90deg);
  }
}

.content {
  margin-top: 25px;
  overflow-y: scroll;

  &__text {
    font-size: 33px;
    font-weight: 700;
  }

  &__image-slides {
    // background-color: red;
    width: 100%;
    height: 400px;
    margin-top: 15px;

    @include flex-between;
    &__left {
      width: 10%;
      height: 100%;
      // background-color: yellow;
      @include flex-start;
      flex-direction: column;
      justify-content: center;

      &__arrow {
        cursor: pointer;
        @include flex-center-row;
        mask-image: url("../../../assets/icons/arrow-down.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: $color-dark-blue;
        width: 30px;
        height: 50px;
        display: inline-block;
        transform: rotate(90deg);

        &:hover {
          background-color: $color-semi-dark-blue;
          transition: 0.3s;
        }
      }
    }
    &__middle {
      width: 80%;
      height: 100%;
      background-color: green;
      &__image-slider {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        &__image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &__right {
      width: 10%;
      height: 100%;
      // background-color: yellow;
      @include flex-start;
      flex-direction: column;
      justify-content: center;
      align-items: end;

      &__arrow {
        cursor: pointer;
        @include flex-center-row;
        mask-image: url("../../../assets/icons/arrow-down.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: $color-dark-blue;
        width: 30px;
        height: 50px;
        display: inline-block;
        transform: rotate(-90deg);

        &:hover {
          background-color: $color-semi-dark-blue;
          transition: 0.3s;
        }
      }
    }
  }
}
