<div class="card" (click)="goToPropertyDetails(property().property_id)">
  <div class="card__img">
    @if(property().propertyImages.length > 0 && image()) {
    <img [src]="image()" alt="rental-image" />
    }@else {
    <img [src]="'assets/images/rental-image.png'" alt="dummy-rental-image" />
    }
  </div>
  <div class="card__location-rating">
    <div class="card__location-rating__location">{{ property().location }}</div>
    <div class="card__location-rating__rating">
      <div class="card__location-rating__rating-icon"></div>
      <p class="card__location-rating__rating-number">4.3</p>
    </div>
  </div>

  <div class="card__body">
    <div class="card__body__name">{{ property().title }}</div>
    <div class="card__body__date">{{ property().createdAt }}</div>
    <div class="card__body__price">
      <span class="card__body__price-number"
        >$ {{ property().pricePerNight }}</span
      >
      night
    </div>
  </div>
</div>
