<div class="footer">
  <div class="footer__left">
    <p>&copy;2025 LaLa, Inc</p>
    <div class="footer__left__dot"></div>
    <p>Terms</p>
    <div class="footer__left__dot"></div>
    <p>Sitemap</p>
    <div class="footer__left__dot"></div>
    <p>Privacy Your privacy choices</p>
  </div>
  <div class="footer__right">
    <div class="footer__right__world">
      <img src="assets/icons/world.svg" alt="world-icon" />
    </div>
    <div class="footer__right">English (US)</div>
    <div class="footer__right">$ USD</div>
    <div class="footer__right">Support & Resources</div>
    <div class="footer__right__dropdown">
      <img src="assets/icons/arrow-down.svg" alt="arrow-down-icon" />
    </div>
  </div>
</div>
