<div class="header">
  <div class="header__header-logo">
    <img
      src="assets/icons/logo.svg"
      class="header__header-logo__img"
      alt="header-logo"
    />
  </div>
  <div class="header__search">
    <input type="text" class="header__search__input" placeholder="Search..." />
    <div class="header__search__icon">
        <div class="header__search__icon__search-icon"></div>
    </div>
  </div>
  <div class="header__header-menu">
    <div class="header__header-menu__text">Rent your home</div>
    <div class="header__header-menu__menu-user">
      <div class="header__header-menu__menu-user__head-menu">
        <img
          src="assets/icons/menu.svg"
          class="header__header-menu__menu-user__head-menu__img"
          alt="menu-icon"
        />
      </div>
      <div class="header__header-menu__menu-user__head-user">
        <img
          src="assets/icons/user.svg"
          class="header__header-menu__menu-user__head-user__img"
          alt="user-icon"
        />
      </div>
    </div>
  </div>
</div>
