<div class="content">
  <div class="content__text">Enjoy your stay anywhere in the world!</div>

  @if(properties() && properties().length > 0) {
  <div class="content__cards">
    @for (property of properties(); track property.property_id) {
    <app-card [property]="property"/>
    }
  </div>
  }@else {
  <div class="content__error">No properties found</div>
  }

  <div
    class="exploring"
    [ngClass]="{
      'exploring--margin': properties() && properties().length < 4
    }"
  >
    <div class="exploring__text">Continue exploring amazing views</div>
    <div class="exploring__button">Show More</div>
  </div>
</div>
