<div class="card-skeleton">
  <!-- Image Placeholder -->
  <div class="card-skeleton__img"></div>

  <!-- Location and Rating Placeholder -->
  <div class="card-skeleton__location-rating">
    <div class="card-skeleton__location"></div>
    <div class="card-skeleton__rating"></div>
  </div>

  <!-- Body Placeholder -->
  <div class="card-skeleton__body">
    <div class="card-skeleton__name"></div>
    <div class="card-skeleton__date"></div>
    <div class="card-skeleton__price"></div>
  </div>
</div>
