// Typography
$font-lora: "Lora", serif;
$font-inter: "Inter", sans-serif;

// Primary Colors
$primary-0: #000000;
$primary-10: #390c00;
$primary-20: #5d1900;
$primary-25: #6f2000;
$primary-30: #832700;
$primary-35: #972e00;
$primary-40: #ab3602;
$primary-50: #cd4d1d;
$primary-60: #dd5928;
$primary-70: #ff8b64;
$primary-80: #ffb59d;
$primary-90: #ffdbd0;
$primary-95: #ffede8;
$primary-98: #fff8f6;
$primary-99: #fffbff;
$primary-100: #ffffff;

// Secondary Colors
$secondary-0: #000000;
$secondary-10: #2a1700;
$secondary-20: #462a00;
$secondary-25: #553400;
$secondary-30: #653e00;
$secondary-35: #744900;
$secondary-40: #855400;
$secondary-50: #a66a00;
$secondary-60: #c98100;
$secondary-70: #ed9900;
$secondary-80: #ffb95c;
$secondary-90: #ffddb7;
$secondary-95: #ffeede;
$secondary-98: #fff8f4;
$secondary-99: #fffbff;
$secondary-100: #ffffff;

// Tertiary Colors
$tertiary-0: #000000;
$tertiary-10: #1b1c1c;
$tertiary-20: #303030;
$tertiary-25: #3b3b3b;
$tertiary-30: #474747;
$tertiary-35: #535252;
$tertiary-40: #5f5e5e;
$tertiary-50: #787777;
$tertiary-60: #929090;
$tertiary-70: #acabaa;
$tertiary-80: #c8c6c6;
$tertiary-90: #e4e2e1;
$tertiary-95: #f3f0f0;
$tertiary-98: #fbf9f8;
$tertiary-99: #fefcfb;
$tertiary-100: #ffffff;

// Neutral Colors
$neutral-0: #000000;
$neutral-4: #0a0b0b;
$neutral-6: #101111;
$neutral-10: #1a1c1c;
$neutral-12: #1e2020;
$neutral-17: #292b2b;
$neutral-20: #2f3131;
$neutral-22: #333535;
$neutral-24: #383a3a;
$neutral-25: #3a3c3c;
$neutral-30: #454747;
$neutral-35: #515353;
$neutral-40: #5d5f5f;
$neutral-50: #767777;
$neutral-60: #909191;
$neutral-70: #aaabab;
$neutral-80: #c6c6c7;
$neutral-87: #dadada;
$neutral-90: #e2e2e2;
$neutral-92: #bfbfbf;
$neutral-94: #edeeee;
$neutral-95: #f0f1f1;
$neutral-96: #f3f4f4;
$neutral-98: #f9f9f9;
$neutral-99: #fcfcfc;
$neutral-100: #ffffff;

// Error Colors
$error-0: #000000;
$error-10: #410002;
$error-20: #690005;
$error-25: #7e0007;
$error-30: #93000a;
$error-35: #a80710;
$error-40: #ba1a1a;
$error-50: #de3730;
$error-60: #ff5449;
$error-70: #ff897d;
$error-80: #ffb4ab;
$error-90: #ffdad6;
$error-95: #ffedea;
$error-98: #fff8f7;
$error-99: #fffbff;
$error-100: #ffffff;

// Additional Colors
$color-mint-500: oklch(0.72 0.11 178);
$color-danger: #ee5f5f;
$color-success: #2dce89;
$color-warning: #f7b924;
$color-info: #11cdef;
$color-dark: #000;
$color-light: #fff;
$color-gray-100: #f6f9fc;
$color-gray-200: #e9ecef;
$color-dark-blue: #012556;
$color-semi-dark-blue: #225395;
$color-dark-gray: #6c757d;
$color-semi-dark-gray: #495057;
$color-light-gray: #f8f9fa;
$color-semi-light-gray: #e9ecef;
$color-white: #fff;

// UI Colors
$orange-color: #dd5928;
$orange-hover-color: #f1906c;
$nav-text-color: #6b6b6b;
$nav-text-dark: #000000;
$white: #ffffff;
$nav-bottom: #b5b5b5;
$card-text: #333333;

// Success Colors
$success-60: #ebf4ec;
$success-50: #388e3c;
$orange-light: #fdf8f6;
$orange-dark: #ffe9e7;

// Transition Timing
$transition-timing: 300ms;

// UI Sizes
$toggle-button-size: 44px;
$logo-expanded-width: 31px;
$logo-expanded-height: 32px;
$logo-collapsed-width: 44px;
$logo-collapsed-height: 65px;

// Breakpoints
$breakpoints: (
  "xs": 480px,
  "sm": 768px,
  "md": 1024px,
  "lg": 1200px,
  "xl": 1440px
);
