@import "../../../styles.scss";

.heading-1 {
  font-size: 56px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}
.heading-2 {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  margin-bottom: 20px;
  line-height: 1.2;
}
