<div class="my-[4rem] mx-[2rem]">
  <h1 class="heading-1">Tell us about what best discribes your home?</h1>
  <p class="heading-2">
    "Please take a moment to select each characteristic of your home to provide
    visitors with a clear and detailed understanding of what they can expect
    during their stay. By carefully choosing features such as the number of
    bedrooms, available amenities, unique architectural details, and any special
    highlights, you’ll help create a vivid and accurate picture of your
    property. This not only enhances the appeal of your listing but also ensures
    that guests have the right expectations, leading to a more satisfying and
    enjoyable experience for everyone involved."
  </p>
  <!-- Loop through amintyCategories -->
  <div *ngFor="let amintyCategory of data">
    <h1 [id]="amintyCategory.id" class="text-3xl font-bold mb-5">
      {{ amintyCategory?.name }}
    </h1>
    <div class="flex gap-7 flex-wrap mb-10">
      <!-- Loop through amenities -->
      <div *ngFor="let aminity of amintyCategory.aminity">
        <app-amenity-card
          (selected)="onClick(aminity)"
          [amenity]="aminity"
        ></app-amenity-card>
      </div>
    </div>
  </div>

  <div class="flex justify-end">
    <div>
      <app-button
        type="Active"
        label="Publish"
        size="large"
        (click)="onSubmit()"
        [trailingIcon]="'./assets/icons/submit-icon.svg'"
      ></app-button>
    </div>
  </div>
</div>
